<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.bsp.order.mapper.OrderMapper">

<!--    <cache type="com.neusoft.bsp.order.config.RedisCache"/>-->

    <insert id="insert" parameterType="com.neusoft.bsp.order.entity.Order">
        INSERT INTO
            `order` ( str_id, pro_id, `name`, create_time, price )
        VALUES
	        (#{strId}, #{proId}, #{name}, now(), #{price})
    </insert>

    <select id="getSellOrder" resultType="com.neusoft.bsp.order.entity.Order">
        SELECT
            *
        FROM
            `order`
        WHERE
            str_id=#{strId}
    </select>

    <delete id="delete">
        DELETE FROM
            `order`
        WHERE
            bso_id=#{pk}
    </delete>

</mapper>